* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}


body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

.select-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.select-header {
	text-align: center;
    font-size: 30px;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.select-main {
	/* padding: 30px 40px;
	text-align: center;
    
	background: var(--dark-color-b); */
    /* display: grid;
    grid-template-columns:1fr 1fr; */
    text-align: center;

    border: 3px solid #667aff;
    padding: 10px;
}

.old-room button{
    background-color: #667aff; /* Green */
    border: 5px solid #3d55f5;
    color: white;
    margin: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.new-room button{
    background-color: #667aff; /* Green */
    border: 5px solid #3d55f5;
    color: white;
    margin: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}